[Unit]
Description=Certification Authority
After=network.target

[Service]
User=student
Group=student
ExecStart=/home/student/ca -listen 10.64.10.3:443
WorkingDirectory=/home/student/
AmbientCapabilities=CAP_NET_BIND_SERVICE
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
